body{
    background: rgb(166, 129, 214);
    background: linear-gradient(180deg, rgb(166, 160, 255) 36%, rgb(114, 194, 226) 92%) fixed;
}

#mi-foto{
    border-radius: 100%;
    width: 15rem;
}

#reloj{
    background-color: black;
    color: whitesmoke;
    font-size: x-large;
    font-weight: bold;
    border-radius: 7px;
}

.social-icon{
    max-height: 30px;
}

.carta{
    margin-top: 16px;
    background-color: #f4f4f4;
    border-radius: 20px;
    padding:10px;
    box-shadow: 0 0 20px 1px;
}

.resumen{
  text-align: center;
}